<div class="wish-list-container">
  <h2 class="pagination-centered">Now</h2>
  <ul class="snippet-list">
    <% @now.each.with_index do |engine, index| break if index == 5 %>
        <li>
          <%= render :partial => "home/small_engine", :object => engine %>
        </li>
    <% end %>
  </ul>
</div>